# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\book-rest-api-reactjs-83fcf5fed65fd3b4473cec26ffddf6e4b7da09e8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
